[submodule "runtime"]
	path = runtime
	url = https://github.com/wrench-runtime/runtime.git

[submodule "module-buffer"]
	path = module-buffer
	url = https://github.com/wrench-runtime/module-buffer.git


[submodule "module-sdl"]
	path = module-sdl
	url = https://github.com/wrench-runtime/module-sdl.git
